name: CI Build Docker

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Tag
        id: meta
        run: echo "tag=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Push
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/strapi-task6:${{ steps.meta.outputs.tag }} ./TASK-6-Automate-Strapi-Deployment
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/strapi-task6:${{ steps.meta.outputs.tag }}