name: Deploy Terraform

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Docker image tag"
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: AWS Login
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Terraform Init
        run: terraform init
        working-directory: TASK-6-Automate-Strapi-Deployment/terraform

      - name: Terraform Apply
        run: terraform apply -auto-approve -var="image_tag=${{ github.event.inputs.image_tag }}" -var="docker_user=${{ secrets.DOCKERHUB_USERNAME }}"
        working-directory: TASK-6-Automate-Strapi-Deployment/terraform